@page
@model Areas.Admin.Pages.RoleAdminModel
<div class="row">
<div style="position: relative; padding :5px; ">
<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#create-role">Create Role</a>
</div>
<div style="position: relative; padding :5px; ">
<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#add-role">Add User Role</a>
</div>
<div id="create-role" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Create Role</h3>
            </div>
            <form method="post" role="form">
                <div class="modal-body">
                  <div class="form-group">
                     <label>Role</label>                
                     <input type="text" name="role_name" id="role_name" class="form-control"> 
                  </div>  
                </div>
                <div class="modal-footer">                    
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-success" id="submit">
                </div>
            </form>
        </div>
    </div>
</div>  
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Role Name</th>
    </tr>
  </thead>
  <tbody>
      @{
        ViewBag.Role = ViewData["Role"];
        @foreach (var role in ViewBag.Role)
        {
          <tr>
            <td>@role.Id</td>
            <td>@role.Name</td>
          </tr>
        }
      }
  </tbody>
</table>
</div>
<div class="row">

<div id="add-role" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Add User Role</h3>
            </div>
            <form method="post" role="form">
                <div class="modal-body">
                  <div class="form-group">
                    <label>Role</label>                
                    <select name="roleuser" class="form-control">
                      
                        @{
                          ViewBag.Role = ViewData["Role"];
                          @foreach (var role in ViewBag.Role)
                          {
                            <option>@role.Name</option>
                          }
                        }
                    </select>
                  </div>
                  <div class="form-group">
                    <label>User List</label>                
                    <select name="user_id" class="form-control">
                        @{
                          ViewBag.User = ViewData["UnRole"];
                          @foreach (var user in ViewBag.User)
                          {
                            <option value=@user.Id>@user.UserName</option>
                          }
                        }
                    </select>
                  </div>   
                </div>
                <div class="modal-footer">                    
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-success" id="submit">
                </div>
            </form>
        </div>
    </div>
</div>
@* <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">User</th>
    </tr>
  </thead>
  <tbody>
      @{
        ViewBag.Role = ViewData["URole"];
        @foreach (var role in ViewBag.Role)
        {
          <tr>
            <td></td>
            <td>@role.UserName</td>
          </tr>
        }
      }
  </tbody>
</table> *@
</div>
